@import "colour.css";

@font-face {
  font-family: MinoFont;
  src: url(data:font/woff;base64,d09GRk9UVE8AAAUkAAsAAAAABxwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAADTAAAAYMAAAGoS5stSkZGVE0AAAUIAAAAHAAAAByFmy/sR0RFRgAABNAAAAAYAAAAHAAVABRPUy8yAAABZAAAAEgAAABgWAhhGGNtYXAAAALYAAAAXQAAAWIJywzraGVhZAAAAQgAAAA0AAAANhQOlI9oaGVhAAABPAAAAB4AAAAkB2gFDWhtdHgAAAToAAAAIAAAACAdSAHAbWF4cAAAAVwAAAAGAAAABgAIUABuYW1lAAABrAAAASkAAAIWcTAiknBvc3QAAAM4AAAAEwAAACD/hgAyeJxjYGRgYADiBeIln+L5bb4ycDO/AIowXP+9TAVCr7ZmMGdgYDnE5A3kcjAwgUQBViYLXXicY2BkYGDyZmBgiGJlAZIMLIcYGBlQAQcAIs8BgQAAAABQAAAIAAB4nGNgYX7OOIGBlYGBqYtpDwMDQw+EZnzAYMjIBBRlYGVmgAFGBiQQkOaawtDA4MkQxazw34IhiskbWQ2TC4MCEDICAF5lCtB4nIWPMWvCUBSFz9NoydBSXEq3OxUFE15Ch9RVySClg6BjIdUQAyGRGAWhY39Pf0z/TbeeF1+7dDDwcr/ce985JwBu8AmF83OPR8sKLt4sd3CFd8tdPODLsgNXXVvu4VY9We6z/8pN5bj8CttbhhUGeLHcoW9huYtnfFh2uPNtuQdRd5b7GKg5pqiwwwk1cmTYooFgiDVGrCE0AkQYk2dIcGwrptXuVOfZtpHheiShDqKxzJKjcLRESYWcp0CKDf8dy7LJmyLdEBfsZThwltAPizQ7FAkhZgZzz9SaG2nr7dNdMOH5r3ruh8zmMaHm+zcr4qps4qrOUgl9LRP58yeHkRdozyS+FHXFXo095yaaUNzI+201sbBK631elaJ14Gut5YLgD5cXTxUAAAB4nGNgYGBmgGAZBkYGEIgB8hjBfBYGByDNw8DBwARkezH4MPgzhDBE/f8PFPUE84JBvP87/m//v/X/pv9roSbAASMbA7oQ+YCRCeRMFiCLlQ0swE4tk2kKAP97EMEAAAB4nGNgZgCD/80MRgxYAAAoRAG4AHicRY09SCNREMfnuWv20LhR4x5+7GHAFOcX+AknNoKmtrKwlDtR4bg7jpggWmhh42a51k5b7QTf220eiLUY3ErSWFja2OhM8l5xTxEdhilmfr//MLBtYIy1LP0qbhR/rv6YAtYEDIYpA9THyG+iLxZ125eBb1/SXbMP2xkfoN2Hgw4fBny23wnWi9ALAzAy//vP1t+NtfVi7uv3wdzE2Pi3kdzCSim38J7+8cbUEAzDKIzBFEzDLHxiLD+zvBmeVR91fyCpIJmUeCEt+ZnydKLzKanLHhXwQhccl3qOS8jL7Aq5p7hv7yF33ApyVsXYqtKtFygRKF5/CgLk+sZM0fx6r2cM0Jg0hIqV0DcvDPKUqxaPS5SUWZWujZ94OqFrShz3+R/GAUad2Tls0J2X3VWRkiqmmmM2MUqMHDdEwVCjsFBTzVPCIKL+jEKdoTAJ4VvCLj6EHt1jrGTKyJGuqQjPHbex09XIeuUjSg5TQboFuelKpZJOY9yKIsTTdNt/UmLMwwB4nGNgZIAAHgYRBhYgzQTEjBAMAALLACoB9AAABQQAQQPoAEQD6AA+AsQARAPqAD0D6ABFA+oANwAAAAEAAAAA1aPejAAAAADX+6YkAAAAANf7qzs=)
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  color: var(--text);
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--bg);
  margin: 0;
}

header {
  background-color: var(--alt-bg);
  color: #fff;
  padding: 0px 10px;
  margin: 0 auto 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 30px;
  image-rendering: pixelated;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  text-decoration: none;
  padding: 0px 15px;
  display: inline-block;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: var(--nord01);
}

.icon {
  width: 30px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
}

#game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

#game:focus {
  outline: none;
}

#board {
  border: 1px var(--border) solid;
}

button {
  background-color: var(--alt-bg);
  border: none;
}

#queue_patterns {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-width: 250px;
  align-items: center;
}

#generate_button {
  max-height: 30px;
}

#patterns {
  min-height: 20px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  border: 2px solid var(--alt-bg);
  font-family: "Courier New", Courier, monospace;
}

.invalid {
  border: 2px solid var(--error) !important;
}

table,
tr,
td,
th {
  border: 0;
}

input {
  background-color: var(--bg);
  border: 2px solid var(--alt-bg);
  font-family: "Courier New", Courier, monospace;
}

.hidden {
  display: none !important;
}

#settings-modal {
  background-color: #2e344066;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings {
  background-color: var(--alt-bg);
  overflow: auto;
  padding: 30px;
}

::-webkit-scrollbar {
  display: none;
}

.T,
.I,
.J,
.L,
.O,
.S,
.Z {
  font-family: MinoFont;
  font-size: 1.6em;
}

.T {
  color: #b48ead;
}
.I {
  color: #88c0d0;
}
.J {
  color: #5e81ac;
}
.L {
  color: #d08770;
}
.O {
  color: #ebcb8b;
}
.S {
  color: #a3be8c;
}
.Z {
  color: #bf616a;
}
